<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.0.0-beta.1"></script>
    <title>Vue3 CDN</title>
  </head>
  <body>
    <div id="vue-app">
      <h1>Hello, {{ obj.name }}</h1>
      <p>你的微信是: {{ obj.wechat }}</p>
    </div>
    {{obj.name}}
  </body>
  <script src="app.js"></script>
</html>
